llama-index-core==0.12.19
streamlit==1.42.2
pydantic==2.10.6

llama-index==0.12.19
ollama==0.5.12
llama-index-embeddings-ollama==0.5.0
llama-index-llms-ollama==0.5.2
chromadb==0.6.3
llama-index-vector-stores-chroma==0.4.1